## backend
/backend/node_modules
/backend/dist
/backend/logs
/backend/logs/*
/backend/.env

## frontend
/frontend/node_modules
/frontend/dist
/frontend/logs
/frontend/logs/*
/frontend/.env
/frontend/test-results
/frontend/playwright-report

## common packages
/node_modules
/.env.test